<div class="container">
  <h1>Add an Artwork</h1>
  <div data-controller="add-art">
    <%= simple_form_for([@artwork], data: {add_art_target: "form"}, url: artworks_path, method: :post) do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.input :name %>
      <%= f.text_field :artist, class: "form-control",
                      placeholder: "add an artist",
                      value: :artist,
                      data: {add_art_target: "input", 
                      action: "keyup->add-art#fetchArtist"} 
      %>
      <div class="" data-add-art-target="list">

      </div>
      <%= f.input :event, collection: @user_events %>
      <%= f.input :category, collection: Artwork::CATEGORIES %>
      <div>
        <%= f.input :tag_list, collection: current_user.owned_tags %>
        <%= f.input :tag_list, label: "Add tags", hint: "Add your tags, separated by commas", class:"tags" %>
      </div>
    <!-- Add tags as checkboxes -->
      <%# <%= f.input :tag_list, as: :check_boxes, collection: [ "Pass your collection here" ] %>
        <%= f.submit%>
    <% end %>
  </div>

</div>



