<div class="container">
  <h1>Artworks#new</h1>
  <p>Find me in app/views/artworks/new.html.erb</p>

  <%= simple_form_for @artwork, url: artworks_path, method: :post do |f| %>
    <%= f.input :name %>
    <%= f.input :artist %>
    <% Artwork::CATEGORIES.each do |categ| %>
      <%= f.label categ %>
      <%= f.check_box :category, collection: categ %>
    <% end %>
    <% unless Event.nil? %>
      <div class="d-flex">
        <%= f.input :event, collection: Event.all, label: false %>
        <%= link_to "Ajouter un évènement", new_event_path, class:'btn btn-primary' %>
      </div>
    <% else %>
      <p>Pas encore d'évènement</p>
    <% end %>

    <% unless Tag.nil? %>
      <div class="d-flex">
        <%= f.input :tag, collection: Tag.all, label: false %>
        <%= link_to "Ajouter un Tag", new_tag_path, class:'btn btn-primary' %>
      </div>
    <% else %>
      <p>Pas encore de tag</p>
    <% end %>
    <%= f.submit %>
  <% end %>   
</div>



