<div class="container">
  <h1>Artworks#new</h1>
  <p>Find me in app/views/artworks/new.html.erb</p>

  <%= simple_form_for @artwork, url: artworks_path, method: :post do |f| %>
    <%= f.input :name %>
    <%= f.input :artist %>
    <% Artwork::CATEGORIES.each do |categ| %>
      <%= f.label categ %>
      <%= f.check_box :category, collection: categ %>
    <% end %>   
    <%= f.submit %>
  <% end %>   
</div>



