<div class="container">
  <h1>All your events</h1>

  <% @user_events.each do |event| %>
  <%= link_to event_path(event.id) do %>
    <div class="card p-2 m-2">
      <p><%= event.name %></p>
      <p><%= event.city %></p>
      <p><%= event.institution %></p>
      <p><%= event.date %></p>
      <p><%= event.category %></p>
    </div>
  <% end %>
  <% end %>
</div>
